@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Manrope", sans-serif;
    background-image: url(./images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-color: hsl(230, 100%, 99%);
}

header {
    margin-top: 5.5625rem;
    text-align: center;
    position: relative;
}

h1 {
    font-size: 1.25rem;
    color: hsl(227, 35%, 25%);
    margin-bottom: .625rem;
}

hr {
    display: none;
}

header p {
    font-size: .8125rem;
}

header p:nth-of-type(1) {
    margin-bottom: .375rem;
}

header img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

main {
    background: #fff;
    border-radius: .625rem;
    margin: 4.125rem 1.5rem;
    padding: 2rem 1.5rem;
    box-shadow: 0 .625rem .3125rem .125rem #f3f3f3; 
}

.views {
    font-size: .8125rem;
    letter-spacing: .0625rem;
    text-transform: uppercase;
    font-weight: 600;
    top: .0625rem;
    right: .0625rem;
    color: hsl(225, 20%, 60%);
}

